# Project files (user-specific)
*.uvopt
*.uvoptx
*.uvguix.*
*.uvproj.user
*.uvmpw

# Build outputs
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.d
*.crf
*.o
*.dep
*.lnp
*.iex
*.htm
*.sct
*.bak
*.build_log.htm